body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    text-indent: 10px;
    background-image: url('../image/ảnh.jpg');
    background-size: 100% 100%;
  }
  
  a {
    color: #000;
  }
  
summary {
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(7, 185, 255);
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

  /* header */
  
  .header {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 200px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  

/* footer */
.footer{
    font-family: Helvetica, sans-serif;
    background-color: #000000;
    color: #fff;
    text-align: center;
}
.footer-container{
    width: 85vw;
    margin: 0 auto;
    padding: 30px 0;
}
.footer-container p, .footer-container a, .footer-container span{
    opacity: 0.8;
}
.footer a{
    display: block;
    color: #fff;
    text-decoration: none;
}
.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
.social-icons li{
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background: #2e2e2e;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}
.social-icons li:hover{
    background: #fff;
    color: #2e2e2e;
}
.contact-item span{
    display: block;
}
@media(min-width: 900px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media(min-width: 1170px){
    .footer{
        text-align: left;
    }
    .footer-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-container div:nth-child(1) p{
        padding-right: 20px;
    }
    .contact-item{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-bottom: 15px;
        align-items: center;
    }
}

.showModal{
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

/* dịch vụ */
.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

h1 {
  color:rgb(182, 217, 244);
  text-align: center;
}

p {
  line-height: 30px;
  text-align: left;
}
/* Định dạng các button mô tả cho nội dung*/
button.accordion {

  background-color: rgb(182, 217, 244);
  color: #000000;
  cursor: pointer;  
  padding: 1px;
  height: 40px;
  width: 720px;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size : 18px;
  font-style: italic;
  line-height: 20px;
  
}

/* Thêm màu nền cho button được active hoặc được hover*/
button.accordion.active, button.accordion:hover {
  color :red 
}

/* Thiết lập cho phần nội dung, mặc định sẽ được ẩn đi */
div.panel {
 
  padding: 0 18px;
  background-color: rgb(182, 217, 244);
  display: none;
  margin: 0px 20px 20px 20px;
 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  }

/* Tin tức */
.content::after {
  content: '';
  clear: both;
  display: table;
}

#left, #right {
  width: 15%;
  float: left;
  box-sizing: border-box;
  padding: 150px 30px;

}

#content {
  float: left;
  height: 100%;
  box-sizing: border-box;
  padding: 200px 30px;
  width: 70%;
  background-color: aliceblue;

}

h2 {
  font-size: 13px;
  text-align: center;
}

table {
  border-spacing: 20px;
}

h5 {
  text-align: center;
  color : black;
  font-size : 50px;
}
