.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
  }
  
  .container {
    width: calc(33% - 60px);
    margin: 30px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.5);
  }
  
  .image-container {
    position: relative;
  }
  
  .image-container img {
    width: 100%;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    font-size: 30px;
  }

  .text-area {
    font-size: 30px;
    text-align: center;
    color: white;
  }
  
  .no-underline {
    text-decoration: none;
  }

  @media (max-width: 1400px) {
    .container {
      width: calc(49% - 60px);
    }
  }

  @media (max-width: 900px) {
    .container {
      width: calc(100% - 60px);
    }
  }

  body {
    background: linear-gradient(-45deg, #f3beae, #fa85b2, #77ceee, #79e7ce);
  }

  #loai-phong {
    text-align: center;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(0, 0, 0, 0.8); 
  display: inline-block;
  width: 300px;
  position: relative;
  }

  h2 {
    color: white;
    font-size: 35px;
    font-style: bold;
  }